<!DOCTYPE html>
<html>
<head>
  <title>Concert Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">

<% if flash[:message] %>
	<div class="alert alert-warning" role="alert"><%= flash[:message] %></div>
<% end %>

<%= yield %>
</div>
<footer class="footer">
  <div class="container">
		<small class="text-muted pull-left">© 2015</small>
		<p class="text-muted pull-right">Exercise for the web development bootcamp at <a href="http://www.ironhack.com">Ironhack</a></p>
  </div>
</footer>
</body>
</html>
