<header>
	<div class = "container-fluid">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<%= link_to 'Auction site', root_path, class: 'navbar-brand' %>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'Users', users_path %></li>
				<li><%= link_to 'Products', products_path %></li>
			</ul>
		 	<ul class="nav navbar-nav navbar-right">
		 	<% if current_user %>
		 		<li>Hi <%= current_user.name %>!</li>
		 		<li><%= link_to 'Log out', logout_path %></li>
		 	<% else %>	
				<li><%= link_to 'Sign up', new_user_path %></li>
		 		<li><%= link_to 'Log in', login_path %></li>
		 	<% end %>
		 	</ul>
		</nav>
	</div>
</header>