<h2>Add new product</h2>

<%= form_for @product do |f| %>
	<%= render 'layouts/errors', model: @product %>

	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
	
	<%= f.label :description %>
	<%= f.text_field :description, class: 'form-control' %>
	
	<%= f.label :min_bid, 'Minimum bid' %>
	<%= f.number_field :min_bid, class: 'form-control' %>
	
	<%= f.label :deadline %>
	<%= f.date_field :deadline, class: 'form-control' %>
	
	<%= f.submit 'Add product', class: 'btn btn-primary' %>
<% end %>